body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: cornsilk; 
    display:block; 
}
h1{
   text-align: center;
}
.btnDiv{
    display: flex;
    justify-content: center;
}
button{
    width: 100px;
    height: 20px;
}

.container{
    cursor: pointer;
    width: 70vw;
    height: auto;
    margin: 100px 100px 100px 100px;
}
.columnDiv{
    display: flex;
    justify-content: center;
}
.rowDiv{
    width: 15px;
    height: 15px;
    border: 1px solid rgb(0, 0, 0);
}